
$primary: #32477a;
$secondary: #5e6270 !default;
$success: #438555 !default;
$info: #9bc4dc !default;
$warning: #eecb6b !default;
$danger: #862b33 !default;
$light:  #f5f5f5 !default;
$dark: #111111 !default;

$body-bg:                   #f5f5f5 !default;
$body-color:                #111111 !default;
$body-text-align:           null !default;

$link-color: $primary;

$header-bg: mix($dark,$primary,65) !default;
$footer-bg: mix($dark,$primary,75) !default;

$price-tag-bg: #ffffff !default;
$price-tag-color: #1e7c33 !default;

$card-border-color: darken($body-bg,5) !default;

$input-border-color: #cccccc !default;

$border-color: #aaa !default;
$widget-bg: #eeeeee !default;

$headings-color: desaturate($primary,10%);

$navbar-bg: darken($header-bg,5);
$navbar-color: mix($light,$primary,25) !default;
$navbar-color-active: $light;