// Dark color mode variables

$body-bg-dark: mix($primary,#000000,15) !default;
$body-color-dark: #c0bebe !default;

$header-bg-dark: mix($dark,$primary,75) !default;
$footer-bg-dark: $navbar-bg !default;

$widget-bg-dark: darken($body-bg-dark,5) !default;

$price-tag-bg-dark: darken($body-bg-dark,5) !default;
$price-tag-color-dark: #438555 !default;

$headings-color-dark: desaturate(lighten($primary,15%),10) !default;
$link-color-dark: lighten($primary,25%) !default;

$card-border-color-dark: mix($primary,$dark,25) !default;
$border-color-dark: lighten($body-bg-dark,15%) !default;
$input-border-color-dark: mix($primary,$dark,65) !default;

$list-group-color-dark: desaturate($link-color,15) !default;
$list-group-bg-dark: $widget-bg !default;
$list-group-hover-bg-dark: lighten($widget-bg,2) !default;