/*
 * default | flatCore Theme
 * Copyright 2021 flatCore CMS
 */

// Bootstrap Core
@import '../../node_modules/bootstrap/scss/bootstrap';

// Bootstrap Icons
@import '../../css/fonts/bootstrap-icons/font/bootstrap-icons';

@import '../../node_modules/featherlight/src/featherlight';
@import '../../node_modules/featherlight/src/featherlight.gallery';

@import 'posts';
@import 'shop';
@import 'events';

#pageHeader {
	background: $header-bg;
	p.h1, p.h2 {
		color: #fff;
		font-weight: 200;
	}
	
	.shopping-cart-container {
		float: right;
		margin-top: -1rem;
		margin-left: 5px;
		

		a {
			text-decoration: none;
			padding: 5px;
			background: $gray-800;
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			font-size: 12px;
			color: #ddd;			
		}
	}
	
	.social-media {
		a {
			color: #fff;
			text-decoration: none;
			&:hover {
				color: #eee;
			}
		}
		float: right;
		margin-top: -1rem;
		padding: 3px 5px;
		background: $gray-800;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
	}
	.legal-pages-container {
		float: right;
		margin-top: -1rem;
		margin-left: 5px;
		

		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				display: inline-block;
				padding: 0;
				a {
					text-decoration: none;
					padding: 5px;
					background: $gray-800;
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
					font-size: 12px;
					color: #ddd;
				}
			}
		}
	}
	
}

#pageFooter {
	padding-bottom: 100px;
	background: $footerr-bg;
	color: #eee;
}

footer div.tags a {
	display: block;
	float: left;
	padding: 2px 5px;
	margin: 1px;
	border-radius: 3px;
	background-color: $gray-900;
	border: 1px solid $gray-900;
	
	&:hover {
		border-color: $black;
		text-decoration: none;
	}
}


.privacy_policy {
	position: fixed;
	bottom: 0;
	z-index: 9001;
	width: 100%;
	background: rgba(255,255,255,0.85);
	padding: 15px;
	border-top: 1px solid #ddd;
}

.scrollBox {
	max-height: 250px;
	overflow: auto;
	background: rgba(0,0,0,0.10);
	padding: 15px;
}




/* comments */

.form-container {
	padding: 15px;
	background: $widget-bg;
	margin-bottom: 15px;
}

#page_comments {
	margin-top: 15px;
	ul, li {
		padding: 0;
		margin: 0;
		list-style: none;
	}
	ul > li {
		padding-left: 10px;
	}
}


.comment-entry {
	border: 1px solid darken($widget-bg,5);
	background: $widget-bg;
	margin: 5px 0;
	border-radius: 0;
	padding: 5px;

	.h5 {
		margin-bottom: 0;
	}

	.entry-nbr {
		font-size: 18px;
		font-weight: bold;
		display: inline-block;
		width: auto;
		float: right;
		background: darken($widget-bg,5);
		color: lighten($widget-bg,5);
		padding: 5px 10px;
		border-bottom-left-radius: 5px;
		margin: -5px -5px 0 0;
	}
}


.table-sc {
	.sc-items-options {
		span {
			padding-right: 5px;
		}
	}
}