
.dropzone {
  background: var(--bs-widget-bg) !important;
  .dz-button {
    opacity: 0;
  }

  .dz-preview.dz-image-preview {
    background: transparent;
  }

}

.dropzone.dropzone-sm {
  min-height: 200px;
  height: 200px;
}

form.dropzone-default {
  border: 1px dashed #999;
  min-height: 400px;
  height: 400px;

  .dz-message {
    height: 100%;
  }

  .dz-default.dz-message {
    background: transparent url(../../images/filedrop.png) no-repeat center center;
  }
}

form.dropzone-plugin .dz-default.dz-message {
  background: transparent url(../../images/filedrop-plugin.png) no-repeat center center;
  height: 100%;
  margin: 0;
}

form.dropzone-module .dz-default.dz-message {
  background: transparent url(../../images/filedrop-module.png) no-repeat center center;
  height: 100%;
  margin: 0;
}

form.dropzone-theme .dz-default.dz-message {
  background: transparent url(../../images/filedrop-theme.png) no-repeat center center;
  height: 100%;
  margin: 0;
}