RewriteEngine On
RewriteBase /

RewriteRule ^images/(.*)$ assets/images/$1 [L]
RewriteRule ^themes/(.*)$ assets/themes/$1 [L]

RewriteRule ^admin/(.*)$ admin.php?query=$1 [L,QSA]
RewriteRule ^install/(.*)$ install.php?query=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?query=$1 [L,QSA]