div#inst-background {
  background: #252028;
  color: #eee;
  padding: 15px;
  border-radius: 9px;
  margin: 15px 0;
}

div#inst-header {
  padding: 10px;
  margin: -15px -15px 5px -15px;
  height: 80px;
  text-align: center;
  background: #2b252f;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

div#inst-body {
  padding: 15px 35px;
}

div#inst-footer {
  text-align: center;
  padding: 15px;
  border-top: 1px solid #111;
  margin-bottom: 15px;
}

div#inst-footer h3 {
  margin: 0;
  line-height: 18px;
}
div#inst-footer a {
  color: #666;
  text-decoration: none;
}

fieldset,
.well {
  margin: 5px 25px;
  padding: 15px;
  border-radius: 9px;
}

legend {
  font-size: 18px;
  display: inline-block;
  width: auto;
  padding: 5px 20px;
  border-radius: 9px;
  color: #aaa;
}

fieldset {
  margin: 35px 0;
}


#progress {
  margin: 5px -50px 25px -50px;
  overflow: hidden;
  counter-reset: step;
  background: #252028;
  padding: 10px 0;
}
#progress li {
  list-style-type: none;
  color: #fff;
  font-size: 12px;
  width: 25%;
  float: left;
  position: relative;
  text-align: center;
}
#progress li:before {
  content: counter(step);
  counter-increment: step;
  width: 40px;
  line-height: 40px;
  display: block;
  font-size: 15px;
  color: #252028;
  background: white;
  border-radius: 50%;
  margin: 0 auto 5px auto;
  box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.3);
}


#progress li.active:before {
  background: #8EA53C;
  color: white;
}

#progress li.active-shine:before {
  background: #8EA53C;
  color: white;
  box-shadow: 0px 0px 7px 5px #D8FFD7;
}