

#toggleNav {
	display: inline-block;
	height: 40px;
	padding-top: 7px;
}

[data-bs-theme="dark"] div#page-sidebar {
	background: $sidebar-background-dark;
}

div#page-sidebar {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 50px;
	color: $sidebar_color;
	background: $sidebar-background;
	height: 100%;

	overflow: hidden;
	overflow-y: auto;

	.sidebar-logo {
		width: 100%;
		height: 57px;
		background-image: url("/themes/administration/images/swiftyedit_logo.svg");
		background-repeat: no-repeat;
		background-size: 140px auto;
		background-position: 5px 5px;
		border-bottom: 1px solid lighten($sidebar-background,15%);
		margin-bottom: 1rem;
		&:hover {
			filter: drop-shadow( 0 0 7px rgba(193, 64, 216, .5));
		}

		a {
			display: block;
			height: 100%;
		}
	}

	a {
		text-decoration: none;
	}

	&:hover {
		transition-property: width;
		transition-duration: .35s;
		transition-timing-function: ease;
		width: 220px;		
		i {
			width: auto;
		}	
	}


	ul.nav {
		li  {
			display: block;
			width: 100%;
			ul {
				padding-left: 0;
				li {
					i {
						width: 35px;
					}
					ul {
						padding-left: 0;
					}
				}
			}
		}
	}




	.sidebar-collapsed {
			
		width: 100%;
		white-space: nowrap;
		padding-top: 1px;
		padding-bottom: 5px;

		.sidebar-logo {
			background-size: 150px auto
		}

      
		i {
			display: inline-block;
			width: 50px;
			text-align: center;
		}
		
		.sidebar-footer {
			i {
				width: 50px;
				text-align: center;				
			}
		}
	}

	.sidebar-expanded {
		display: block;
		width: 250px;
		white-space: nowrap;
		padding-bottom: 5px;
		transition-property: top, bottom, width;
		transition-duration: .2s, .2s, .35s;
		transition-timing-function: linear, linear, ease;
        
		* i {
			display: inline-block;
			width: 35px;
			text-align: center;
		}
		
		.sidebar-footer {
			i {
				width: 35px;
				text-align: center;				
			}
		}


		ul.nav {
			li  {
				display: block;
				width: 100%;
			}
		}



	}

	.sidebar-footer {
		padding-top: 10px;
		a {
			display: block;
			color: $sidebar_color;
		}
	}	
}


/* colors */

.color-contents > i {
	color: $section_color_contents;
}

.color-blog > i {
	color: $section_color_blog;
}

.color-shop > i {
	color: $section_color_shop;
}

.color-events > i {
	color: $section_color_events;
}

.color-addons > i {
	color: $section_color_addons;
}

.color-reactions > i {
	color: $section_color_reactions;
}

.color-uploads > i {
	color: $section_color_uploads;
}

.color-user > i {
	color: $section_color_user;
}


div#page-sidebar.sb-expanded {
	width: 250px;
	overflow: hidden;
	overflow-y: auto;
}

#page-content {
	margin-left: 55px;
   transition-property: top, bottom, width;
   transition-duration: .2s, .2s, .35s;
   transition-timing-function: linear, linear, ease;
}

div#page-content.sb-expanded {
	margin-left: 250px;
}


/* Navigation Submenu */


a.sidebar-sub,
a.sidebar-sub-active {
	display: block;
	width: 100%;
	color: $sidebar_color;
	padding: 3px 2px 3px 0;
}

a.sidebar-sub:hover {
	color: darken($sidebar_color,5);
}


a.sidebar-sub-active {
	color: $sidebar_active_color;
	i {
		color: $primary;
	}
}



a.sidebar-nav-link,
a.sidebar-nav,
a.sidebar-nav-disabled {
	position: relative;
	display: block;
	padding: 5px 0;
	color: $sidebar_color;
	&.sidebar-nav-active {
		color: $sidebar_active_color;
	}
	&:hover {
		color: lighten($sidebar_color,5%);
	}


	&.toggler:after {
		display: inline-block;
		padding: 0 5px;
		float: right;
		font-family: bootstrap-icons;
		content: "\F282";
		color: $primary;
	}
	&.toggler[aria-expanded="true"]:after {
		content: "\F286";
	}

}


.sidebar-nav-disabled,
.sidebar-nav-disabled:hover {
	color: #555;
	cursor: not-allowed;
}
