.table-list {
	background: transparent;
	width: 100%;
}

.table-list td {
	border-bottom: 1px solid var(--bs-widget-bg-600);
	padding: 1px 6px 0 4px;
}

.table-list td.bold {
	font-weight: bold;
}


.table-list td.head {
	padding: 6px 6px 6px 4px;
	border-bottom: 1px solid var(--bs-widget-bg-600);
	border-top: 1px solid var(--bs-widget-bg-600);
	font-weight: bold;
}


.table-list tr:hover {
	background-color: var(--bs-widget-bg-600);
}