/**!
 * SwiftyEdit Backend Theme
 * light mode
 */

$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;

$blue: #2777ee !default;
$indigo: #6100ff !default;
$purple:  #6f42c1 !default;
$pink: #ff1083 !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #198754 !default;
$teal: #25d99a !default;
$cyan: #03d1fa !default;

$primary: #896e9b;
$secondary: #978ba2;
$success: #9cb642;
$info:  #64C9E0;
$warning: #FF9407;
$danger: #b7212f;

$lighten: mix(#ffffff,$primary,75%);
$darken: mix(#000000,$primary,75%);

$primary-text-emphasis:   darken($primary, 30%) !default;
$secondary-text-emphasis: darken($secondary, 30%) !default;
$success-text-emphasis:   darken($success, 30%) !default;
$info-text-emphasis:      darken($info, 30%) !default;
$warning-text-emphasis:   darken($warning, 30%) !default;
$danger-text-emphasis:    darken($danger, 30%) !default;
$light-text-emphasis:     $gray-700 !default;
$dark-text-emphasis:      $gray-700 !default;

$primary-bg-subtle:       rgba($primary, 0.3);
$secondary-bg-subtle:     rgba($secondary, 0.3);
$success-bg-subtle:       rgba($success, 0.4) !default;
$info-bg-subtle:          rgba($info, 0.3) !default;
$warning-bg-subtle:       rgba($warning, 0.3) !default;
$danger-bg-subtle:        rgba($danger, 0.3) !default;
$light-bg-subtle:         mix($gray-100, $white) !default;
$dark-bg-subtle:          $gray-400 !default;

$primary-border-subtle:   lighten($primary, 20%) !default;
$secondary-border-subtle: lighten($secondary, 20%) !default;
$success-border-subtle:   lighten($success, 20%) !default;
$info-border-subtle:      lighten($info, 20%) !default;
$warning-border-subtle:   lighten($warning, 20%) !default;
$danger-border-subtle:    lighten($danger, 20%) !default;
$light-border-subtle:     $gray-200 !default;
$dark-border-subtle:      $gray-500 !default;


$alert-bg-scale:                -80% !default; // Deprecated in v5.2.0, to be removed in v6
$alert-border-scale:            -70% !default; // Deprecated in v5.2.0, to be removed in v6
$alert-color-scale:             40% !default; // Deprecated in v5.2.0, to be removed in v6

$page_header_bg: desaturate($lighten,5);
$widget_background: #f9f9f9;
$widget_border_color: darken($widget_background,15);

$widget-bg-100: mix($lighten,$widget_background,40%);
$widget-bg-200: mix($lighten,$widget_background,30%);
$widget-bg-300: mix($lighten,$widget_background,20%);
$widget-bg-400: mix($lighten,$widget_background,10%);
$widget-bg-500: $widget_background;
$widget-bg-600: mix($darken,$widget_background,10%);
$widget-bg-700: mix($darken,$widget_background,20%);
$widget-bg-800: mix($darken,$widget_background,30%);
$widget-bg-900: mix($darken,$widget_background,40%);


$body-color: #252525;
$body-bg: #f1f1f1 !default;
$body-gradient-top: rgba($primary,0.1);
$body-gradient-middle: $body-bg;
$body-gradient-bottom: rgba($primary,0.4);

$body-secondary-color:         rgba($body-color, .75) !default;
$body-secondary-bg:            $gray-400 !default;
$body-tertiary-color:          rgba($body-color, .5) !default;
$body-tertiary-bg:             mix($gray-400, $gray-500, 50%) !default;
$body-emphasis-color:          $black !default;
$border-color: $widget_border_color !default;
$border-color-translucent:     rgba($black, .15) !default;
$headings-color: $primary;
$link-color:                   darken($primary, 10) !default;
$link-hover-color:             lighten($link-color, 10) !default;
$code-color: #ad2d6b;



$sidebar_background: #2A2030;
$sidebar_link_background: $primary;
$sidebar_color: #eee;
$sidebar_active_color: $primary;
$sidebar_active_bg: darken($sidebar_background,5%);
$sidebar_help_background: #111;
$sidebar_help_color: #ccc;

$subHeader_bg: desaturate($widget_background,5);

$section_color_contents: $secondary;
$section_color_dashboard: #aaaaaa;
$section_color_blog: #85d7f5;
$section_color_shop: #b6e08b;
$section_color_events: #f3be5b;
$section_color_addons: #95efcc;
$section_color_reactions: #bede97;
$section_color_uploads: #c9b2f5;
$section_color_user: #e3b981;

$table-bg: transparent;

$btn_se_background: #eee;
$btn_se_background_active: $primary;
$btn_se_background_disabled: desaturate($primary,15);
$btn_se_background_hover: darken($primary,15);
$btn_se_color: #333;
$btn_se_color_active: #eee;

/* pages - status colors */
$color_public: #2ca62c;
$color_ghost: #5c7156;
$color_private: #d9534f;
$color_draft: #989898;
$color_redirect: #078dfe;

$status-public-color: #2ca62c;
$status-ghost-color: #5c7156;
$status-private-color: #d9534f;
$status-draft-color: #989898;
$status-redirect-color: #078dfe;

/* user - status colors */
$color_verified: #5cb85c;
$color_queue: $color_ghost;
$color_banned: #f0ad4e;
$color_deleted: #d9534f;