$enable-dark-mode: true;
@import "variables";
@import "variables-dark";

// Bootstrap Core
@import '../../node_modules/bootstrap/scss/bootstrap';

@if $enable-dark-mode {
  @include color-mode(dark, true) {
    --#{$prefix}primary: #{$primary-dark};
    --#{$prefix}primary-rgb: #{to-rgb($primary-dark)};
  }
}

// Bootstrap Icons
@import '../../node_modules/bootstrap-icons/font/bootstrap-icons';

@import '../../node_modules/glightbox/dist/css/glightbox';

@import 'posts';
@import 'shop';
@import 'events';
@import 'helpers';
@import 'navbar';
@import 'comments';


[data-bs-theme=dark] #pageHeader {
  background: $header-bg-dark;
}

#pageHeader {
  background: $header-bg;

  p.h1, p.h2 {
    color: $light;
    font-weight: 200;
  }

  .shopping-cart-container {
    float: right;
    margin-top: -15px;
    margin-left: 5px;
    padding: 3px 5px;

    a {
      text-decoration: none;
      padding: 3px 5px;
      color: $light;
    }
  }

  .social-media {
    a {
      color: $light;
      text-decoration: none;
      padding: 3px 5px;
      &:hover {
        color: #eee;
      }
    }
    float: right;
    margin-top: -15px;
    padding: 3px 5px;
  }
  .legal-pages-container {
    float: right;
    margin-top: -15px;
    margin-left: 5px;
    padding: 3px 5px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        display: inline-block;
        padding: 0;
        a {
          text-decoration: none;
          padding: 3px 5px;
          color: $light;
        }
      }
    }
  }

  .styleswitch-container {
    float: right;
    margin-top: -15px;
    margin-left: 5px;
    button.btn-link {
      padding: 3px 5px;
      color: $light;
      text-decoration: none;
    }
  }

}

[data-bs-theme=dark] #pageFooter {
  background: $footer-bg-dark;
}

#pageFooter {
  background: $footer-bg;
  padding-bottom: 100px;
  color: #eee;
}

[data-bs-theme="dark"] .card {
  border-color: $card-border-color-dark;
  .card-header {
    border-bottom-color: $card-border-color-dark;
  }
  .card-footer {
    border-top-color: $card-border-color-dark;
  }
}

[data-bs-theme="dark"] .form-control,
[data-bs-theme="dark"] .form-select {
  border-color: $input-border-color-dark;
}
